.apply-btn{
  width: 150px;
  height: 40px;
  cursor: pointer;
  background: rgba(23,45,79,1);
  border: 1px solid #3b4855;
  outline: none;
  transition: -3s ease-in-out;
  color: white;
  border-radius: 10px;
  position: relative;
  left: 120px;
  bottom: 5px;
}
.apply-btn:hover {
  transition: 1s ease-in-out;
  background: #55697c;
}

.apply-btn:hover svg {
  stroke-dashoffset: -480;
}

.apply-btn span {
  font-size: 18px;
  font-weight: 100;
}
