#dev-team {
    font-size: 50px;
    color: rgb(62, 126, 161);
    text-align: center;
    margin-top: -25px;
}

hr {
    display: block;
    height: 2px;
    width: 97%;
    color: rgb(62, 126, 161);
    background-color: rgb(62, 126, 161);
    margin-top: 30px;
    margin-bottom: 30px;
}