
.hero-body{
  
  text-align: center;
  color: rgb(255, 255, 255);
}
.hero {
  margin: -54px;
  padding-top: 100px;
  height: 850px;
  background-image: url('../images/house2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  
  
}
h1{
  font-size: 40px;
}

@media screen and (min-width: 992px) {
  .miniHero {
    background-position-y: -150px;
  }
}