#dev-team {
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: -25px;
    padding-top: 30px;
}

hr {
    display: block;
    height: 2px;
    width: 97%;
    color: black;
    background-color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Extra small devices (phones, 600px and down) */

/* @media only screen and (max-width: 600px) {
    [class*="col-s-1"] {
        width: 100%
    }
    ;
} */

/* Small devices (portrait tablets and large phones, 600px and up) */

/* @media only screen and (min-width: 600px) {
    ...
} */

/* Medium devices (landscape tablets, 768px and up) */

/* 
@media only screen and (min-width: 768px) {
    ...
} */

/* Large devices (laptops/desktops, 992px and up) */

/* @media only screen and (min-width: 992px) {
    ...
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */

/* @media only screen and (min-width: 1200px) {
    ...
} */