.apply-btn{
  width: 150px;
  height: 40px;
  cursor: pointer;
  background: #e68a00;
  border: 1px solid #3b4855;
  outline: none;
  transition: -3s ease-in-out;
  color: white;
  border-radius: 10px;
  position: relative;
  left: 120px;
  bottom: 5px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: large;

}
.apply-btn:hover {
  transition: 1s ease-in-out;
  background: black;
  font-size: 8em;
}

.apply-btn:hover svg {
  stroke-dashoffset: -480;
}

.apply-btn span {
  font-size: 28px;
  font-weight: 100;
}
