.footer {
  width: 100%;
  position: relative;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(24, 130, 180, 1);
  font-family: 'Josefin Sans', sans-serif;
  bottom: 0px;
  margin-bottom: 0px;
  justify-content: center;
}

.footer-links {
  text-align: center;
}

.coding-links {
  margin-top: 20px;
}

.footer-a {
  padding-right: 10px;
  text-decoration: none;
}

.coding-a {
  padding-right: 10px;
  text-decoration: none;
}

.info {
  text-align: center;
  margin-top: 20px;
}

.after-line:after {
  content: " | ";
  margin-left: 10px;
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}

@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}