.hero-container-outer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-container {
  font-family: 'Josefin Sans', sans-serif;
  flex: 0 0 30%;
}

.login {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #e68a00 50%, white);
  padding: 30px;
  border-radius: 5px;
  margin: 20px;
}

.title {
  text-align: center;
  color: white;
}

.signin {
  display: flex;
  flex-direction: column;
  font-size: large;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs input {
  border-radius: 5px;
  color: black;
  border: none;
  height: 30px;
  background-color: white;
}

p {
  font-size: large;
  margin-bottom: 0%;
  color: black;
}

#submit {
  font-family: 'Josefin Sans', sans-serif;
  font-size: large;
  border-radius: 10px;
  border: none;
  height: 40px;
  width: 120px;
  margin-top: 30px;
  /* margin-bottom: 90px; */
  background-color: black;
  color: white;
}

#login-button {
  text-align: center;
}

#register {
  text-align: center;
}

#create-account {
  font-family: 'Josefin Sans', sans-serif;
  font-size: large;
  border-radius: 10px;
  border: none;
  height: 40px;
  width: 120px;
  margin-top: 15px;
  /* margin-bottom: 90px; */
  background-color: black;
  color: white;
}

a {
  text-align: center;
}

#create-h3 {
  margin-top: 35px;
}

#password {
  margin-bottom: 5px;
}

#recover:visited {
  color: white;
}

h2 {
  color: white;
  font-size: 40px;
}

h3 {
  color: black;
}

::placeholder {
  color: lightgray;
  font-size: 20px;
}

@media screen and (min-width: 992px) {
  .miniHero {
    background-position-y: -150px;
  }
}